@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

#prfile-section{
 background-color: var(--color-secundary);
 background-image: url(../storage/img/background-texture.svg);   
 background-repeat: no-repeat;
 background-size: cover;
}

header{
    height: 8svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
}

header .icon{
    display: flex;
    column-gap: 1em;
    letter-spacing: 0.3em;
    align-items: center;
    color: var(--text-color);
    font-size: 0.7em;
}
header img{
    height: 5svh;
    filter: brightness(100%);
}

h3{
    text-transform: capitalize;
    color: var(--text-color);
}

.banner{
    padding: 2em;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "welcome welcome welcome"
    "message message message"
    "balance balance balance";
    row-gap: 1em;
}

.banner > h1 {
    font-size: 32px;
    font-weight: 900;
    grid-area: welcome;
}

.banner > p{
    grid-area: message;
}

.banner > section{
    display: flex;
    grid-area: balance;
}
.banner > section > article{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5em;
}