@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

#prfile-section{
 background-color: var(--color-secundary);
 background-image: url(../storage/img/background-texture.svg);   
 background-repeat: no-repeat;
 background-size: cover;
 height: 50svh;
}

header{
    height: 8svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
}

header .icon{
    display: flex;
    column-gap: 1em;
    letter-spacing: 0.3em;
    align-items: center;
    color: var(--text-color);
    font-size: 0.7em;
}
header img{
    height: 5svh;
    filter: brightness(100%);
}

h3{
    text-transform: capitalize;
    color: var(--text-color);
}

.banner{
    padding: 2em;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(3,0.5fr);
    grid-template-areas: 
    "welcome welcome welcome"
    "message message message"
    "balance balance balance";
    row-gap: 1em;
}

.banner > h1 {
    font-size: 32px;
    font-weight: 900;
    grid-area: welcome;
}

.banner > p{
    grid-area: message;
}

.banner > section{
    display: flex;
    grid-area: balance;
}
.banner > section > article{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2em;
}

.balance_bar{
    height: 5px;
    width: 35vw;
    margin-top: 1svh;
    background-color: var(--text-color);
    border-radius: 15px;
}

#progressBar__1{
    height: 5px;
    border-radius: 15px;
    background-color: var( --primary-color);
    width: 80%;
}

#progressBar__2{
    height: 5px;
    border-radius: 15px;
    background-color: var( --primary-color);
    width: 30%;
}

.profile_content{
    background-color: #fff;
    padding: 5svh 0 0 0;
    border-radius:  2rem 2rem 0 0;
    height: 40svh;
    width: 100vw;
}

.profile_content h3{
     background-color: transparent;
     color: var(--color-secundary);
     padding: 0 2vh 0 2vh;
}

.activities{
    display: flex;
    justify-content: space-around;
    padding: 0.8em 0 1em 0;
}

.activities article{
    background-color: var(--text-color);
    border-radius: 1em;
    padding: 2em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-secundary);
    font-weight: bold;
    box-shadow: 0 0 50px 0 rgba(51, 64, 79, 0.15);
}

.activities article img{
    width: 60px;
}

.transactions{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 22svh;
}

.transactions article{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 1em 1em;
}

.transactions > article > img{
    grid-area: 1 / 1 / span 2 / span 1;
    height: 40px;
    justify-self: center;
    align-self: center;
}

.transactions > article > p{
    grid-area: 1 / 2  span 1 / span 6;
}

.transactions > article > small{
     grid-area: 2 / 2 / span 1 / span 6;
}
.menu{
    background-color: var(--color-secundary);
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.menu > ul{
    list-style-type: none;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-evenly;
}

.menu > ul > li{
    list-style: none;
}
.menu > ul > li > a{
    text-decoration: none;
}
.menu > ul > li > a > img{
    height: 5vh;
}