@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/fonts/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #00DDA3;
    --color-secundary: #33404F;
    --light-primary-color: #E1FFEF;
    --light-secondary-color: #33404f7E;
    --text-color: #fff;
}
