@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/fonts/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #00DDA3;
    --color-secundary: #33404F;
    --light-primary-color: #E1FFEF;
    --secondary-color: #33404F;
    --light-secondary-color: #5e7ca0a9;
    --text-color: #fff;
    --primary-color: #00DDA3;
    --light-primary-color: #E1FFEF;
    --secondary-color: #33404F;
    --light-secondary-color: #33404f7E;
    --text-color: #fff;
    /* custom colors */
    --cs-primary-background-color: #212121;
    --cs-secondary-background-color: #6a5cbd;
    --cs-secondary-color: #303030;
    --cs-primary-text: #ffffff;
    --cs-secondary-text: #3c04c0;
    --cs-accent-color: #ffd700;
    --cs-button-color: #4caf50;
}

