@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/fonts/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #ac63ff;
    --color-secundary: #33404F;
    --light-primary-color: #eeb5ff;
    --tertiary-color: #000000;
    --secondary-color: #33404F;
    --light-secondary-color: #33404f7E;
    --text-color: #fff;
}
