<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVETO</title>
    <script src="../js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="../storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <header>
        <div class="icon">
            <img src="/storage/img/logo-white.svg">
            <h1>INVETO</h1>
        </div>
        <div class="topMenuIcone">
            <img src="/storage/img/menu-top-white.svg">
        </div>
    </header>    
    <section class="balance">
        <img src="/storage/img/balance-pattern.svg">
        <div>
            <h2>Total<br>Blance $214,417</h2>
        </div>
    </section>
    <section class="middleNav">
        <a href="#">Assets</a>
        <a href="#">Debt</a>
        <a href="#">Income</a>
    </section>
    <section class="balance-chart"> 
        <img src="/storage/img/balance-chart.svg" alt="balance-chart">
        <article>S M T W T F S</article>
    </section>
    <section class="bottom-banner">
        <img id="card-icon" src="/storage/img/card-icon.svg" alt="">
        <article>
            <h3>Spending.</h3>
            <p>You forgot to add debt card number<br>at payment #1323. Add it now.</p>
        </article>
        <img id="close-icon" src="/storage/img/xIcone.svg" alt="close-icon">
    </section>
    <nav class="menu">
        <ul>
            <li><a href="#"><img src="../storage/img/home.svg"></a></li>
            <li><a href="./balance.html"><img src="../storage/img/content.svg"></a></li>
            <li><a href="../index.html"><img src="../storage/img/menu.svg"></a></li>
            <li><a href="#"><img src="../storage/img/message.svg"></a></li>
            <li><a href="./profile.html"><img src="../storage/img/center.svg"></a></li>
        </ul>
    </nav>
</body>
</html>